<footer id="footer" class="footer light-background">

    <div class="container">
      <!-- <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Gaurav</strong> <span>All Rights Reserved<br></span></p>
      </div> -->
      <div class="footer-social-links text-center">
        <a href="https://www.hackerrank.com/profile/gaurav22gautam" target="_blank" class="hackerrank">
          <img src="static/assets/img/Hackerrank.gif" alt="HackerRank" style="width: 30px; height: 30px; opacity: 1.0;">
        </a>
        <a href="https://github.com/Gaurav3707" target="_blank" class="github">
          <img src="static/assets/img/Github.gif" alt="HackerRank" style="width: 35px; height: 35px; opacity: 1.0;">
        </a>
        <a href="https://www.linkedin.com/in/gaurav-gautam-54b660152/" target="_blank" class="linkedin">
          <img src="static/assets/img/Linkedin.gif" alt="HackerRank" style="width: 28px; height: 28px; opacity: 1.0;">
        </a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

</footer>